@font-face {
    font-family: 'market_saturdayregular';
    src: url('marketsaturday-webfont.woff2') format('woff2'),
         url('marketsaturday-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  height: 100%;
  display: grid;
  flex-direction: column;
}

.boldText{
    font-weight: bold;
}

.banner {
  position: relative;
}

.banner img {
  /* Make image responsive */
  display: block;
  width: 100%;
  max-height: auto:
}

.banner>.caption {
  position: absolute;
  top: 0;
  left: 20%;
  height: 100%;
  background: white;
  opacity: 0.7;
}

.banner>.caption>h1 {
  text-align: center;
}

.banner>.caption>h1 {
  font-size: 7vw
}

main {
  /* display: grid; */
  grid-template-columns: auto [col] auto [col];
  grid-template-rows: auto [row] auto [row] auto [row] auto [row] ;
  grid-gap: 10px;
}

ol {
  counter-reset: number;
}

li {
  list-style: none;
  counter-increment: number;
  padding: 20px
}

li::before {
  content: "Step " counter(number) ".";
  position: relative;
  left:-15px
}

.upload-container {
  align-items: center;
  text-align: center;
  flex 0 1 auto;
}

.upload {
  /* visibility: hidden; */
}

.input-container {
  align-content: center;
  flex 0 1 auto;
}

label {
  padding: 20px;
  font-weight: bold;
}

.previewtext {
}

.preview {
  /* align-content:stretch; */
  border-style: solid;
  width: 100%;
  height: auto;
}
